player-connection-mode=Listen
player-connection-guid=3982462931
player-connection-debug=0
player-connection-project-name=JAKA S5 VR 数字孪生 - 只读反馈
player-connection-ip=192.168.110.96
player-connection-ip=169.254.221.15
player-connection-ip=169.254.81.187
player-connection-ip=172.24.48.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=a4668a1b9c8d4bf0b75277cc7eeaf4bc
